<section class="field is-horizontal">
  <%= form_for @profile do |p| %>
    <%= p.hidden_field :user_id, value: @profile.user.id %>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label :name, class: "label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= p.text_field :name, class: "input" %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label :height, class: "label" %>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= p.number_field :height, class: "input is-fullwidth" %>
          </div>
          <div class="control select">
            <%= p.select :height_unit, [['Meters', true], ['Feet', false]], {}, class: "select"%>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label :starting_weight, class: "label" %>
      </div>
      <div class="field-body">
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= p.number_field :starting_weight, class: "input is-fullwidth" %>
          </div>
          <div class="control select">
            <%= p.select :weight_unit, [['Kg', true], ['Lbs', false]], {}, class: "select"%>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label :age, class: "label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-expanded">
            <%= p.number_field :age, class: "input" %>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label "Select Avatar", class: "label" %>
        <%# <label class="file-label"> %>
      </div>
      <div class="field-body">
        <div class="file">
            <%= p.file_field :avatar_image, class: "input"  %>
          </label>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <%= p.label "Preferred Units:", class: "label" %>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <div class="select">
              <%= p.select :metric, [['Metric', true], ['Merican', false]], {}, class: "select"%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <%= p.submit class: "button is-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
  
  