<section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/splash/ahnold.jpg')">
  <div class="hero-body">
    <div class="container is-pulled-left">
      <h1 class="title">
        BRO FITNESS
      </h1>
      <h2 class="subtitle is-pulled-left">
        The Importance of Being Arnold
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter"></div>
      <div class="column">
        <div class="content">
          <h1 class="is-size-4"><%= @workout.show_date %></h1><br>
          <ul id="no-dots">
            <% @workout.workout_sets.each do |ws| %>
              <li>
                <p class="control">
                  <%= link_to "X", ws, method: :delete, class: "button is-small"%>
                  <%= "#{ws.exercise.name.titleize.pluralize(ws.reps)}: #{ws.reps} reps of #{ws.weight} #{@workout.user.profile.metric == true ? "Kg" : "lbs"} "%>
                </p>
              </li>
            <% end %>
          </ul>
          
        </div>
      </div>
      <div class="column is-one-quarter"></div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="is-error"><%= flash[:error] if flash[:error] %></h2>
    <%= form_for @workout.workout_sets.build do |set| %>          
      <div class="field has-addons">
        <div class="field">
          <p class="control select has-icons-left is-focused has-icons-right">
            <%= set.hidden_field :workout_id, value: @workout.id  %>
            <%= set.collection_select :exercise_id, Exercise.all.sort_by {|ex| ex.name}, :id, :name, class: "input select is-focused"%>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
              <%= set.number_field :reps, class: "input is-focused #{"is-danger" if flash[:date]}" , placeholder: "Reps"%>
            <span class="icon is-small is-left">
              <i class="fas fa-times"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
              <%= set.number_field :weight, class: "input is-focused #{"is-danger" if flash[:date]}" , placeholder: "Weight"%>
            <span class="icon is-small is-left">
              <i class="fas fa-dumbbell"></i>
            </span>
          </p>
        </div>
        <p class="control">
          <%= set.submit 'Add Set', class: "button is-primary" %>
        </p>
        <div class="field">
          <p class="control">
            <%= link_to "Finalize Workout", user_path(@workout.user), class: "button"%>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</section>  