<%= image_tag "splash/1200-woman-lifting-heavy-weights.jpg", id: "banner" %>
<h3>User Name</h3>
<%= @user.profile.name %><br>

<%= form_for Workout.new do |w| %>
  <%= w.hidden_field :user_id, value: @user.id %>
  <%= w.date_field :date %><br>
  <%= w.submit %>
<% end %>

<h1>Past Workouts</h1>
  <ul>
    <% @user.workouts[0..4].each do |workout| %>
      <li>
        <h2><%= workout.date.strftime("%A, %b %d") %></h2>
        <ul>
          <% workout.workout_sets.each do |set| %>
            <li>
              <h5><%= "#{set.exercise.name.capitalize}: #{set.reps} x #{set.weight}" %></h5>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>