<% require 'chartkick' %>
<section class="hero is-medium is-primary is-bold" style="background-image: url('/assets/splash/arnold.png')">
  <div class="hero-body">
    <div class="container is-pulled-left">
      <h1 class="title">
        BRO FITNESS
      </h1>
      <h2 class="subtitle is-pulled-left">
        The Importance of Being Arnold
      </h2>
    </div>
  </div>
  </section>
<h3>User Name</h3>
<%= @user.profile.name %><br>

<%= form_for Workout.new do |w| %>
  <%= w.hidden_field :user_id, value: @user.id %>
  <%= w.date_field :date %><br>
  <%= w.submit %>
<% end %>
<%= column_chart @data %>

<h1>Past Workouts</h1>
  <ul>
    <% @user.workouts.sort_by(&:date).reverse[0..4].each do |workout| %>
      <li>
        <h2><%= workout.date.strftime("%A, %b %d") %></h2>
        <ul>
          <% workout.workout_sets.each do |set| %>
            <li>
              <h5><%= "#{set.exercise.name.capitalize}: #{set.reps} x #{set.weight}" %></h5>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
