<%= image_tag @exercise.hero_image  %>
<h3>Exercise Name</h3>
<%= @exercise.name.capitalize %><br>
<h3>Description</h3>
<%= @exercise.description.capitalize %><br>
<h3>Instruction</h3>
<%= @exercise.instruction.capitalize %><br>
<h3>Category Type</h3>
<%= @exercise.category.name.capitalize %>
