<h1 class="title">
  <%= @exercise.name.capitalize %><br>
</h1>
<%= image_tag @exercise.hero_image, id: "banner"  %><br>
<strong>Description</strong><br>
<%= @exercise.description.capitalize %><br>
<strong>Instruction</strong><br>
<%= @exercise.instruction.capitalize %><br>
<strong>Category Type</strong><br>
<%= @exercise.category.name.capitalize %>
