<!DOCTYPE html>
<html>
  <head>
    <title>BroFitness</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/" id="logo"><%= image_tag "logo/logo.png" %></a>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">User</a>
              <div class="navbar-dropdown">
                <% if logged_in? %>
                  <%= link_to "Home", user_path(set_current_user) , class: "navbar-item"%>
                  <hr class="navbar-divider">
                  <%= link_to "Profile", edit_profile_path(set_current_user) , class: "navbar-item"%>
                  <hr class="navbar-divider">
                  <%= link_to "Exercises", exercises_path, class: "navbar-item"%>
                  <hr class="navbar-divider">
                  <%= link_to "Logout", logout_path , method: :delete, class: "navbar-item"%>
                <% else %>
                <%= link_to "Login", login_path, class: "navbar-item"%>
                <hr class="navbar-divider">
                <%= link_to "Sign Up", new_user_path, class: "navbar-item"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

    <%# <div class="footer">
      <div class="contact">
        <a href="#">Contact</a>
        <a href="#">Copyright</a>
      </div>
    </div>
  </body> %>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>BroFitness</strong> by <a href="https://jgthms.com">Ben Haugen & Ezra Schwepker</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>



</html>
